In [7]:
import os
spark_version = 'spark-3.0.3'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:5 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [8]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2022-03-16 05:11:33--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar.1’

postgresql-42.2.9.j 100%[===================>] 892.61K  --.-KB/s    in 0.08s

2022-03-16 05:11:33 (10.3 MB/s) - ‘postgresql-42.2.9.jar.1’ saved [914037/914037]

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("CloudETL").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [28]:
# Connect to database with SQLAlchemy
password = '<password>'
user = 'postgres'
host = 'mypostgresdb.c3a0r7clbodu.us-east-1.rds.amazonaws.com'
db = 'my_data_class_db'
rds_connection_string = f"{user}:{password}@{host}:5432/{db}"

engine = create_engine(f'postgresql://{rds_connection_string}')

engine.table_names()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  # Remove the CWD from sys.path while we load stuff.

['review_id_table', 'products', 'customers', 'vine_table']

In [31]:
# Then display vine_table table pandas
pd.read_sql_query('SELECT * FROM vine_table', con=engine)

              review_id  star_rating  helpful_votes  total_votes vine
0         R8EWA1OFT84NX            5              0            0    N
1        R2JWY4YRQD4FOP            5              0            0    N
2         RL5ESX231LZ0B            5              0            0    N
3         RRMS9ZWJ2KD08            5              0            0    N
4        R14I3ZG5E6S7YM            5              0            0    N
...                 ...          ...            ...          ...  ...
1752722   R7W6TPBOZ7WJZ            5              2            2    N
1752723  R1Y4I7KYF7Y5MH            5              0            0    N
1752724  R35M9WTWVWMLX9            5             27           27    N
1752725  R2LUF1DDNNRNAJ            5             18           18    N
1752726   RV7B3DO7H3GC8            5              2            2    N

[1752727 rows x 5 columns]

In [29]:
# or create spark df from vine_table
table = 'vine_table'
df = spark.read \
    .format("jdbc") \
    .option("url", f"jdbc:postgresql://{host}:5432/{db}") \
    .option("dbtable", table) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

df.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- star_rating: integer (nullable = true)
 |-- helpful_votes: integer (nullable = true)
 |-- total_votes: integer (nullable = true)
 |-- vine: string (nullable = true)

In [32]:
#display the spark df
df.show()

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
| R8EWA1OFT84NX|          5|            0|          0|   N|
|R2JWY4YRQD4FOP|          5|            0|          0|   N|
| RL5ESX231LZ0B|          5|            0|          0|   N|
| RRMS9ZWJ2KD08|          5|            0|          0|   N|
|R14I3ZG5E6S7YM|          5|            0|          0|   N|
|R13EPSFP5DODN5|          4|            0|          0|   N|
| R6RBP4HTE67SY|          5|            0|          0|   N|
|R15B3EU40RSU2W|          5|            0|          0|   N|
| RP4DD53A4ZJA2|          5|            0|          0|   N|
|R2C99DJEO4RZ4K|          5|            3|          4|   N|
| REV51EW323H8W|          5|            0|          0|   N|
|R2GQ3W03WIUZKE|          5|            0|          0|   N|
| RTI1YI7K6GE3D|          5|            0|          0|   N|
|R3V9C2C0SPSZU6|          5|            0|          0|   N|
|R1LB42XCSSCLV6|          5|            0|          0|   N|
|R113NWCW6STTMC|          5|            0|          0|   N|
| RWRN5XK337N41|          1|            0|          0|   N|
| RF4WL3QEP3PVI|          1|            0|          0|   N|
|R2DRL5NRODVQ3Z|          5|            2|          2|   N|
|R3T9B92MDDHKMM|          2|            5|          5|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

In [58]:
vine_df = df.filter(df.vine == "Y")\
  .groupBy('star_rating')\
  .agg({'vine':'count'})\
  .withColumnRenamed('count(vine)', 'Number of Vine Reviews')\
  .orderBy('star_rating')

vine_df.show()

+-----------+----------------------+
|star_rating|Number of Vine Reviews|
+-----------+----------------------+
|          1|                   134|
|          2|                   394|
|          3|                  1320|
|          4|                  4232|
|          5|                  6019|
+-----------+----------------------+

In [59]:
non_vine_df = df.filter(df.vine == "N")\
  .groupBy('star_rating')\
  .agg({'vine':'count'})\
  .withColumnRenamed('count(vine)', 'Number of Vine Reviews')\
  .orderBy('star_rating')

non_vine_df.show()

+-----------+----------------------+
|star_rating|Number of Vine Reviews|
+-----------+----------------------+
|          1|                144257|
|          2|                100549|
|          3|                148604|
|          4|                283119|
|          5|               1064099|
+-----------+----------------------+

In [88]:
#calculate the percent of vine reviews that are 5 stars, 4 stars, etc
vine_review_count = vine_df.collect()[0][1] + vine_df.collect()[1][1] + vine_df.collect()[2][1] + vine_df.collect()[3][1] + vine_df.collect()[4][1]

vine_one_star_percentage = vine_df.collect()[0][1] / vine_review_count 
vine_two_star_percentage = vine_df.collect()[1][1] / vine_review_count 
vine_three_star_percentage = vine_df.collect()[2][1] / vine_review_count 
vine_four_star_percentage = vine_df.collect()[3][1] / vine_review_count 
vine_five_star_percentage = vine_df.collect()[4][1] / vine_review_count 

print(f'% One-star Vine Reviews: %{round(vine_one_star_percentage * 100, 2)}')
print(f'% Two-star Vine Reviews: %{round(vine_two_star_percentage * 100, 2)}')
print(f'% Three-star Vine Reviews: %{round(vine_three_star_percentage * 100, 2)}')
print(f'% Four-star Vine Reviews: %{round(vine_four_star_percentage * 100, 2)}')
print(f'% Five-star Vine Reviews: %{round(vine_five_star_percentage * 100, 2)}')

% One-star Vine Reviews: %1.11
% Two-star Vine Reviews: %3.26
% Three-star Vine Reviews: %10.91
% Four-star Vine Reviews: %34.98
% Five-star Vine Reviews: %49.75

In [89]:
#calculate the percent of vine reviews that are 5 stars, 4 stars, etc
non_vine_review_count = non_vine_df.collect()[0][1] + non_vine_df.collect()[1][1] + non_vine_df.collect()[2][1] + non_vine_df.collect()[3][1] + non_vine_df.collect()[4][1]

non_vine_one_star_percentage = non_vine_df.collect()[0][1] / non_vine_review_count 
non_vine_two_star_percentage = non_vine_df.collect()[1][1] / non_vine_review_count 
non_vine_three_star_percentage = non_vine_df.collect()[2][1] / non_vine_review_count 
non_vine_four_star_percentage = non_vine_df.collect()[3][1] / non_vine_review_count 
non_vine_five_star_percentage = non_vine_df.collect()[4][1] / non_vine_review_count 

print(f'% One-star Non_Vine Reviews: %{round(non_vine_one_star_percentage * 100, 2)}')
print(f'% Two-star Non_Vine Reviews: %{round(non_vine_two_star_percentage * 100, 2)}')
print(f'% Three-star Non_Vine Reviews: %{round(non_vine_three_star_percentage * 100, 2)}')
print(f'% Four-star Non_Vine Reviews: %{round(non_vine_four_star_percentage * 100, 2)}')
print(f'% Five-star Non_Vine Reviews: %{round(non_vine_five_star_percentage * 100, 2)}')

% One-star Non_Vine Reviews: %8.29
% Two-star Non_Vine Reviews: %5.78
% Three-star Non_Vine Reviews: %8.54
% Four-star Non_Vine Reviews: %16.27
% Five-star Non_Vine Reviews: %61.13